<div class="mat-elevation-z8">
  <mat-table [dataSource]="products">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome</mat-header-cell>
      <mat-cell *matCellDef="let product">
        <button mat-button class="button-detail" color="primary" (click)="onDetail(product)">
          {{ product.name }}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Descrição</mat-header-cell>
      <mat-cell *matCellDef="let product"> {{ product.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        <button
          mat-mini-fab
          (click)="onAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let product">
        <button mat-icon-button (click)="onEdit(product)">
          <mat-icon color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(product)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
