<mat-card class="card-principal">
  <mat-toolbar color="primary" class="title">
    <span>Detalhes</span>
  </mat-toolbar>
  <mat-card-header class="name">
    <mat-card-subtitle class="subtitle">Nome</mat-card-subtitle>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="description">
    <mat-card-subtitle>Descrição</mat-card-subtitle>
    <p>{{ product.description }}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
  <div class="button">
    <button mat-raised-button color="primary" (click)="backPage()">
      Voltar
    </button>
  </div>
</mat-card>
