.card-principal{
  max-width: 40%;
  margin: 2em auto;
  text-align: center;
}
.title{
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.card-secondary{
  max-width: 80%;
  margin: 2em;
  text-align: center;
}
