<mat-card>
  <mat-toolbar color="primary" class="title">
    <span>Produtos cadastrados</span>
  </mat-toolbar>

  @if (products$ | async; as products) {

    <app-products-list
      [products]="products.products"
      (add)="onAdd()"
      (remove)="onDelete($event)"
      (detail)="onDetail($event)"
      (edit)="onEdit($event)"
    >
    </app-products-list>
    <mat-paginator
      [pageSizeOptions]="[5,10,15]"
      showFirstLastButtons
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [length]="products.totalElements"
      (page)="refresh($event)"
      aria-label="Selecione a pagina"
      >
    </mat-paginator>
  } @else {
    <div class="load-spinner">
      <mat-spinner></mat-spinner>
    </div>
  }
</mat-card>
