mat-card {
  max-width: 60%;
  margin: 2em auto;
  text-align: center;
}
.title{
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.load-spinner{
  background-color: #F0EFEF;
  display: flex;
  align-items: center;
  justify-content: center;
}
